.text-sm {
    font-size: 0.76rem;
}

.rows-hover:hover{
    background-color: #F0F9FF !important;
    cursor: pointer;
}

code{
    background-color: rgb(236, 199, 103);
    font-size: medium;
    padding: 0.1rem 0.25rem 0.1rem 0.25rem;
}
.header{
    color: rgb(66, 75, 100);
}
.header-desc{
    font-size: small;
    margin-top: -1.1rem;
    padding: 0;
    color: gray;
}

.header-icon {
    margin-right: 2rem;
    cursor: pointer;
}

.header-icon > *{
    color:rgb(202, 36, 127);
}

.header-config > *{
    word-wrap: break-word !important;
}

.custom-description{
    font-family: "Nunito Sans",-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
    margin: 16px 0;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.paginationCustomButton{
    appearance: none;
    border:none;
    font-family: inherit;
    font-size: 0.9rem;
    background-color: transparent;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    cursor: pointer;
}

.paginationCustomButton:hover:enabled{
    background-color: rgb(94, 94, 206);
    color: whitesmoke;
    border-radius: 100%;
}

.paginationCustomIcon{
    margin-top: 0.25rem;
}

.custom-pagination-dropdown{
    min-width: 3rem;
    display: flex;
    align-items: center;
}

.custom-pagination-dropdown p{
    font-size: small;
}



/* CUSTOM SELECT CSS */
.custom-select-wrapper {
     position: relative;
     user-select: none;
     width: auto;
}
 .custom-select {
     position: relative;
     display: flex;
     flex-direction: column;
     border-width: 0 1px 0 1px;
     border-style: solid;
     border-color: #7d91b9;
     border-radius: 4px;
}
 .custom-select__trigger {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 0.5rem;
     font-size: 0.86rem;
     font-weight: 400;
     color: #3b3b3b;
     height: 1.4rem;
     line-height: 1rem;
     background: #ffffff;
     cursor: pointer;
     border-width: 1px 0 1px 0;
     border-style: solid;
     border-color: #7d91b9;
     border-radius: 4px;
}
 .custom-options {
     position: absolute;
     display: block;
     left:0;
     right:0;
     margin-top: 2px;
     margin-left:0 !important;
     top: 100%;
     border: 1px dashed #394a6d83;
     background: #fff;
     transition: all 0.5s;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 2;
}
 .custom-select.open .custom-options {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
}
 .custom-option {
     margin-left:0 !important;
     position: relative;
     display: block;
     padding: 0 1rem 0 0.5rem;
     font-size: 1rem;
     font-weight: 300;
     color: #3b3b3b;
     line-height: 2rem;
     cursor: pointer;
     transition: all 0.5s;
}
 .custom-option:hover {
     cursor: pointer;
     background-color: #0d9775;
}
 .custom-option.selected {
     color: #ffffff;
     background-color: #598bc9;
}

.arrow {
     position: relative;
     height: 10px;
     width: 10px;
}
 .arrow::before, .arrow::after {
     content: "";
     position: absolute;
     width: 0.15rem;
     height: 100%;
     transition: all 0.5s;
}
 .arrow::before {
     left: -0.05rem;
     transform: rotate(45deg);
     background-color: #394a6d;
}
 .arrow::after {
     left: 5px;
     transform: rotate(-45deg);
     background-color: #394a6d;
}
 .open .arrow::before {
     top: 0.1rem;
     left: -0.07rem;
     transform: rotate(-45deg);
}
 .open .arrow::after {
     top: 0.1rem;
     left: 5px;
     transform: rotate(45deg);
}


@media screen and (min-width: 400px) and (max-width: 600px) {
    .paginationCustomIcon{
        width: 0.8rem;
    }

    .custom-pagination-dropdown{
        min-width: 0rem;
    }
    
    .custom-pagination-dropdown p{
        font-size: 0.6rem;
    }

    .custom-select-wrapper {
        margin-left: 1rem !important;
    }
    .custom-select{
        width:2.5rem;
    }
    .custom-select__trigger{
        font-size: 0.6rem;
        padding: 0 0.3rem;
        height: 1rem;
    }

    .custom-option {
        margin-left:0 !important;
        padding: 0 0rem 0 0.5rem;
        font-size: 0.6rem;
        line-height: 1.2rem;
    }

    .arrow {
        height: 7px;
        width: 7px;
    }
   .arrow::before, .arrow::after {
        width: 0.08rem;
        height: 100%;
        transition: all 0.5s;
    }
    .arrow::before {
        left: -0.9rem;
        transform: rotate(45deg);
        background-color: #394a6d;
    }
    .arrow::after {
        left: -0.66rem;
    }
    .open .arrow::before {
        top: 0rem;
        left: -1rem;
    }
    .open .arrow::after {
        top: 0rem;
        left: -0.7rem;
    }
}