code{
    background-color: rgb(236, 199, 103);
    font-size: medium;
    padding: 0.1rem 0.25rem 0.1rem 0.25rem;
}
.header{
    color: rgb(66, 75, 100);
}
.header-desc{
    font-size: small;
    margin-top: -1.1rem;
    padding: 0;
    color: gray;
}

.header-icon {
    margin-right: 2rem;
    cursor: pointer;
}

.header-icon > *{
    color:rgb(202, 36, 127);
}

.header-config > *{
    word-wrap: break-word !important;
}
